 @import url(../css/header.css);
 @import url(../css/nav.css);
 @import url(../css/search.css);
 @import url(../css/recent.css);
 @import url(../css/newsletter.css);
 @import url(../css/footer.css);
 @import url(../css/swiper.css);
 @import url(../css/section.css);
 @import url(../css/article.css);

 
 :root{
    --laranja: #EB9B00;
    --azul-escuro: #002F52;
    --preto-claro: rgba(0, 0, 0, 0.85);
    --cinza: #EBECEE;
    --cinza-footer: #F9F9F9;
    --azul-degrade: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);


 }


body {

    background-color: var(--cinza);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: var(--preto-claro);
}







